body{
    background-color: rgb(30, 123, 129);
    background-image: url(https://images.pexels.com/photos/6991382/pexels-photo-6991382.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
}

.admin_box p {
    margin-top: 80px;
    font-weight: bold;
}

.head {
    width: 97%;
    height: 80px;
    background-color: aquamarine;
    padding: 20px;
}

.left-head {
    float: left;
    width: 50%;
}

.right-head {
    float: left;
    text-align: right;
    width: 50%;
}

table {
    width: 50%;
    margin-top: 50px;
}